### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Logs ##
logs/

## Assets ##
assets/

# Objects #
*.so
*.o
